<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>WebApp</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css">

</head>
<body style="background-color: white">

    <div class="wrapper">

        <div class="app">
            <div>
                <img src="~/img/Arrow 19.svg" class="absolute__back" style="left: 21px">
                <a class="absolute__back" href="/Home/Index">
                    Назад
                </a>
            </div>
            <div class="app__img__tur" style="width: 100%; text-align: center;">
                <img src="~/img/img2.png" style="width: 300px; ">
            </div>
            <div class="turik">
                TurTuristam
            </div>

            <div class="reg_text">
                Войти как
            </div>
            <br />
            <div class="app__buttons__prikol">
                <a href="#" class="app__buttons__item active" style="flex: 0 0 50%" data-type="tur">Турист</a>
                <a href="#" class="app__buttons__item" style="flex: 0 0 50%" data-type="agent">Турагентство</a>
            </div>



        </div>

    </div>
    <script src="~/js/JavaScript.js"></script>
</body>
</html>